@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: #fafafa;
}
/*----Navigation---*/
#navigation {
    background-color: #fafafa;
   
}
#logo {
    float:left;
    margin-left: 40px;
 
    padding-top:7px;
    font-family: 'Monoton',cursive;
    color: #1a0f17;
}
#logo:hover {
    background-color: rgb(255, 225, 0);
    color: black;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


#menu {
    list-style-type: none;  
}
#menu li a {
    float: right;
    margin-right: 50px;
    letter-spacing: 3px;
    text-decoration: none!important;
    color: inherit!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

#menu li a:hover{
    color: #d73b27!important;
    text-shadow: 3px 3px 4px #d73b27;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*-------Homepage-----------*/

#hero-image {
    background: url("../images/aerobics1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  
}
#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#cover-text {
    color: #fafafa;
    position: relative;
    text-align: center;
    height:300px;
    width:500px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;

    background-color: rgb(255, 225, 0,  0.9);
    border-radius: 1.5px;
 
  
   transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    font-family: 'Monoton', cursive !important;
    font-size: 65px;
    color: #1a0f17;
    padding-top:60px;
  
   
   
}
.hero-sub {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #1a0f17;
    padding:15px;
    
}
#class-express{
    background: url("../images/zebra.jpg");
    background-position: center;
    background-repeat: repeat;
    height: 350px;
    width: 100%;
    
    
}
#class-express .col-sm {
    color: #fafafa;
    background-color: rgb(215, 59, 39, 0.8);
    width:100%;
    height: 300px;
    text-align: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
#class-express h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 10px;
}
#class-express h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 20px;
}

/*------------------FOOTER---*/
footer {
    width: 100%;
    border-top: solid 4px rgb(255, 225, 0);
    background-color: #fafafa;
}

footer .col-sm {
    width: 100%;
    margin-left: 50px;
    padding-top: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 200;
}
footer p, .fa{
    padding:5px;
}
.fa {
    font-size: 30px;
    color: #1a0f17;
}
.fa:hover{
    color: #d73b27!important;
    text-shadow: 3px 3px 4px #d73b27;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

/*-------Class Page-----*/
.classes {
    background: url("../images/weightlady.jpg");
    background-position: center;
    background-repeat: repeat;
    height: 700px;
    width: 100%;
   
}
.classes h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.classes a {
    text-decoration: none;
    color: #fafafa !important;
    text-transform: uppercase;
}

.classes a:hover {
    font-size: larger;
    text-shadow: 2px 2px 4px #eddbb1;
    letter-spacing: 2px;
}
.class-bg {
    color: #fafafa;
    background-color: rgb(215, 59, 39, 0.8);
    width:100%;
    height: 450px;
    text-align: center;
    margin: 40px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    font-weight:300;
}
#amenities .col-md{
background-color: rgb(215, 59, 39, 0.8);
margin:10px 20px 20px 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #fafafa;
font-weight: 300;
padding: 30px;
text-align:center;


}