@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: #fafafa;
}
/*----Navigation---*/
#navigation {
    background-color: #fafafa;
   
}
#logo {
    float:left;
    margin-left: 40px;
    padding-bottom:20px;
    padding-top:5px;
}
h2 #logo{
    text-decoration: none!important;
    color: inherit!important;
}
#menu {
    list-style-type: none;  
}
#menu li a {
    float: right;
    margin-right: 40px;
    letter-spacing: 3px;
    text-decoration: none!important;
    color: inherit!important;
}
/*-------Homepage-----------*/

#hero-image {
    background: url("../images/aerobics1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
  
}
#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#cover-text {
    color: #fafafa;
    position: relative;
    text-align: center;
    height:300px;
    width:500px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;

    background-color: rgb(255, 233, 0, 0.9);
    border-radius: 1.5px;
 
  
   transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    font-family: 'Monoton', cursive !important;
    font-size: 65px;
    color: #1a0f17;
    padding-top:38px;
    padding-bottom: 15px;
   
   
}
.hero-sub {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #1a0f17;
    padding:10px 10px 10px 10px;
}