@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: #fafafa;
    padding-top: 70px;
}
/*----Navigation---*/
nav {
    background-color: #fafafa;
    width: 100%;
}
.navbar-brand {
   
    font-size: 30px;
    font-family: 'Monoton',cursive;
    color: #1a0f17;
   position: relative;
   
}
.navbar-brand:hover {
    background-color: rgb(255, 225, 0);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.navbar-toggler-icon {
    border:none;
}

nav ul {
    list-style-type: none;  
}

.navbar-nav li a {
    letter-spacing: 3px;
    text-decoration: none!important;
    color: inherit!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    
    
}

.navbar-nav li a:hover{
    color: #d73b27!important;
    text-shadow: 3px 3px 4px #d73b27;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*------------------FOOTER---*/
footer {
    width: 100%;
    border-top: solid 4px rgb(255, 225, 0);
    background-color: #fafafa;
    height: 100px;
}

footer .col-sm {
    width: 100%;
    margin-left: 50px;
    padding-top: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 200;
   text-align: left;
}
footer p, .fa{
    padding:5px;
}
.fa {
    font-size: 30px;
    color: #1a0f17;
}
.fa:hover{
    color: #d73b27!important;
    text-shadow: 3px 3px 4px #d73b27;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}
/*-------Homepage-----------*/

#hero-image {
    background: url("../images/aerobics1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  
}
#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#cover-text {
    color: #fafafa;
    position: relative;
    text-align: center;
    height:300px;
    width:500px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;

    background-color: rgb(255, 225, 0,  0.9);
    border-radius: 1.5px;
 
  
   transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    font-family: 'Monoton', cursive !important;
    font-size: 60px;
    color: #1a0f17;
    padding-top:7%;
  
   
}
.hero-sub {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #1a0f17;
    padding:5%;
    
    
}
#class-express{
    background: url("../images/zebra.jpg");
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    
    
}
#class-express .col-sm {
    color: #fafafa;
    background-color: rgb(215, 59, 39, 0.98);
    width:100%;
    height: 300px;
    text-align: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
#class-express h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 10px;
}
#class-express h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 20px;
}
/*-------Class Page-----*/
.classes {
    background: url("../images/workoutclass.jpeg");
    background-position: center;
    height: 100%;
    width: 100%;  
    padding-bottom: 20px;
    
}

.classes h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}


.classes a {
    text-decoration: none;
    color: #fafafa !important;
    text-transform: uppercase;
}

.classes a:hover {
    font-size: larger;
    text-shadow: 2px 2px 4px #eddbb1;
    letter-spacing: 2px;
}
.class-bg {
    color: #fafafa;
    background-color: rgb(215, 59, 39, 0.95);
    width:100%;
    height: 450px;
    text-align: center;
    margin: 40px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight:300;
}

.class-bg .class-content {
    height: 100%;
}
#amenities .col-md{
background-color: rgb(215, 59, 39, 0.95);
margin:10px 20px 20px 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #fafafa;
font-weight: 300;
padding: 30px;
text-align:center;

}

/*-----------------Sign up-------------*/
.contact-heading {
    background-color: #fafafa;
     padding: 20px 10px 0px 10px;
     border: 2px solid black;
    
}
.contact-heading h3 {
    font-family:'Monoton',cursive;
    text-align: center;
    font-size: 175%;
    letter-spacing: 3px;
    color: #d73b27;
    text-shadow: 1px 1px 3px yellow;
    padding: 1%;
   
}

.contact-heading p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1%;
}


.contact-page-form {
   position: relative;
   text-align: center;
   padding: 10%;
   height: 100%;
   background-image: url("../images/pattern.png");
    
}

.center-form {
  display: inline-block;
   width: 100%;
   margin-top: 20px;
}

.center-form input {
    margin-bottom: 10px;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    border-radius: 0%;

}

.center-form textarea {
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    border-radius: 0%;
    
}

.center-form button {
    margin-top: 50px;
    margin-bottom:35px;
    background-color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1px;
    border: solid 2px black;
    padding: 10px 60px 10px 60px;

}

.center-form button:hover{
    background-color: #1965b4;
    border: solid 2px #1965b4;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;

}

